<a href="https://colab.research.google.com/github/ugis70194/Chainer_Tutorial_answers/blob/master/Chainer_Tutorial_answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Problem2.1(Build in function)

In [0]:
# Find length that list a
a = [4, 8, 3, 4 ,1]
res = len(a)
print(res)

5

In [0]:
# Find maximum value in list a
a = [4, 8, 3, 4 ,1]
res = max(a)
print(res)

8

In [0]:
# Find minimum value in list a
a = [4, 8, 3, 4 ,1]
res = min(a)
print(res)

1

In [0]:
# Find sum of value in list a
a = [4, 8, 3, 4 ,1]
res = sum(a)
print(res)

20

In [0]:
# Sort list a
a = [4, 8, 3, 4 ,1]
res = sorted(a)
print(res)

[1, 3, 4, 4, 8]

## Problem2.2(Operation)

In [0]:
# guess (value, type) = (5.0, float)
value = 1.2 + 3.8
ty = type(value)
print(value, ty)

5.0 <class 'float'>

In [0]:
# guess (value, type) = (0, int)
value = 10 // 100
ty = type(value)
print(value, ty)

0 <class 'int'>

In [0]:
# guess (value, type) = (True, bool)
value = 1 >= 0
ty = type(value)
print(value, ty)

True <class 'bool'>

In [0]:
# guess (value, type) = (True, bool)
value = 'Hello World' == 'Hello World'
ty = type(value)
print(value, ty)

True <class 'bool'>

In [0]:
# guess (value, type) = (False, bool)
value = not 'Chainer' != 'Tutorial'
ty = type(value)
print(value, ty)

False <class 'bool'>

In [0]:
# guess (value, type) = (False, bool)
value = all([True, True, False])
ty = type(value)
print(value, ty)

False <class 'bool'>

In [0]:
# guess (value, type) = (True, bool)
value = any([True, True, False])
ty = type(value)
print(value, ty)

True <class 'bool'>

In [0]:
# guess (value, type) = (3, int)
value = abs(-3)
ty = type(value)
print(value, ty)

3 <class 'int'>

In [0]:
# guess (value, type) = (infitity, err)
value = 2 // 0
ty = type(value)
print(value, ty)

ZeroDivisionError: ignored

## Problem2.3(Basic operation of list)

In [0]:
# Remove first element of list a
a = [4, 8, 3, 4, 1]
a.pop(0)
print(a)

[8, 3, 4, 1]

In [0]:
# Remove last element of list a
a = [4, 8, 3, 4, 1]
a.pop()
print(a)

[4, 8, 3, 4]

In [0]:
# Add 100 end of list a
a = [4, 8, 3, 4, 1]
a.append(100)
print(a)

[4, 8, 3, 4, 1, 100]

## Problem2.4(List comprehension)

In [0]:
# convert to 1 if the element is even, convert to 2 if it is odd
a = [4, 8, 3, 4, 1]
b = [x%2 for x in a]
print(b)

[0, 0, 1, 0, 1]

In [0]:
# count odd elements in list a
a = [4, 8, 3, 4, 1]
res = sum([x%2 for x in a])
print(res)

2

In [0]:
# keep only elements of list a
a = [4, 8, 3, 4, 1]
a = [x for x in a if x%2 == 1]
print(a)

[3, 1]